# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`
#
# follows official upstream conventions:
# https://www.drupal.org/docs/develop/using-composer

# Ignore configuration files that may contain sensitive information
/devcamp/web/sites/*/*settings*.php
/devcamp/web/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/devcamp/web/sites/*/files
/devcamp/web/sites/*/public
/devcamp/web/sites/*/private
/devcamp/web/sites/*/files-public
/devcamp/web/sites/*/files-private

# Ignore paths that may contain temporary files
/devcamp/web/sites/*/translations
/devcamp/web/sites/*/tmp
/devcamp/web/sites/*/cache

# Ignore drupal core (if not versioning drupal sources)
/devcamp/web/vendor
/devcamp/web/core
/devcamp/web/modules/README.txt
/devcamp/web/profiles/README.txt
/devcamp/web/sites/development.services.yml
/devcamp/web/sites/example.settings.local.php
/devcamp/web/sites/example.sites.php
/devcamp/web/sites/README.txt
/devcamp/web/themes/README.txt
/devcamp/web/.csslintrc
/devcamp/web/.editorconfig
/devcamp/web/.eslintignore
/devcamp/web/.eslintrc.json
/devcamp/web/.gitattributes
/devcamp/web/.htaccess
/devcamp/web/.ht.router.php
/devcamp/web/autoload.php
/devcamp/web/composer.json
/devcamp/web/composer.lock
/devcamp/web/example.gitignore
/devcamp/web/index.php
/devcamp/web/INSTALL.txt
/devcamp/web/LICENSE.txt
/devcamp/web/README.txt
/devcamp/web/robots.txt
/devcamp/web/update.php
/devcamp/web/devcamp/web.config

# Ignore vendor dependencies and scripts
/devcamp/vendor
/devcamp/composer.phar
/devcamp/composer
/devcamp/robo.phar
/devcamp/robo
/devcamp/drush.phar
/devcamp/drush
/devcamp/drupal.phar
/devcamp/drupal
